h1 {
    color: rgb(0, 0, 0);
}

p{
    color: rgb(124, 189, 33);
}

body {
    background-color: #a9a5d8;
}

/* classes */

.destaque {
    background-color: rgb(207, 218, 0);
    font-size: 50px;
   
}

.destaque2 {
    background-color: rgb(0, 19, 114);
    font-size: 50px;
    color: azure;
   
}

.btn{
background-color: blueviolet;
font-size: 1rem;
padding:  0.15rem 0.10rem 0.15rem 0.10rem;
}