
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #8a1a9e;
    --cor-destaque: #d000f0;
    --cor-01: #f9f9f9;
    --cor-02: #cfcfcf;
    --cor-03: #2c2e32;
    --cor-04: #232323;
    --cor-05: #000000;
    --cor-06: #42454a;
}

/* Reset (limpa a configuração padrão) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--cor-04);
    color: var(--cor-01);
}

h1, p {
    margin: 1rem 0;
}

/* ===== Classes ===== */

/* Banner */
.banner {
    position: relative;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.5rem var(--cor-05);
}

.banner p {
    font-size: 2rem;
}

.banner span {
    color: var(--cor-destaque);
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-image: url('../css/img/academia.jpeg');
    background-size: cover;
    filter: brightness(30%);
}

/* Menu */
.menu {
    background-color: var(--cor-04);
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    font-weight: 700; /* bold */
}

.menu ul {
    list-style-type: none;
    display: flex;
  
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    color: var(--cor-01);
    padding: 0.8rem 1rem;
    transition: 0.5s; /* 500ms */
}

.menu a:hover {
    color: var(--cor-destaque);
}

/* Corpo */
.corpo {
    background-color: var(--cor-03);
    padding: 3rem;
    text-align: justify;
    min-height: 25rem;
    font-size: 1.2rem;
}

.modalidades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;

    margin-top: 8rem;
    padding: 0 3rem;
}

.card {
    border-radius: 0.5rem;
    transition: 0.3s;
    overflow: hidden;
  
}

.card:hover {
    transform: scale(1.06);
    cursor: pointer;
    /* box-shadow: x y desfoque espessura cor; */
    box-shadow: 0 0 0.5rem 0.2rem var(--cor-04);
}

.card img {
    width: 100%;

    /* Borda arredondada somente na parte superior da imagem */
    /* border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; */
}

.card div {
    padding: 1rem;
}

/* Rodape */
.rodape {
    color: var(--cor-02);
    min-height: 16rem;
    text-align: justify;
    /* padding: 2rem; */
    padding: 2rem 8rem;

    display: grid;
    gap: 2rem;
    /* grid-template-columns: auto 1px 40% 1px auto; */
    grid-template-columns: auto auto 40% auto auto;
    justify-items: center;
}

.rodape ul {
    list-style-type: none;
}

.rodape li {
    margin-bottom: 0.5rem;
}

.rodape a {
    text-decoration: none;
    color: inherit;
}

.rodape a:hover {
    color: var(--cor-01);
}

.rodape i {
    font-size: 2.5rem;
}

.redes-sociais div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.barra {
    height: 100%;
    border-left: solid 1px var(--cor-06);
}

.mapa {
    width: 90%;
    height: 36rem;
    margin: auto;
    margin-top: 5rem;
}

.mapa iframe {
    width: 100%;
    height: 100%;
}
